body {
	background-color: #7AC5CD;
	font-family: 'Karla', sans-serif;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

.app {
	text-align: center;
	margin: 1rem auto 1rem auto;
}

nav {
	text-align: center;
	color: #fff;
	font-size: 1.25rem;
}

nav a {
	color: #53868B;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	opacity: 0.9;
	color: #CD3333;
}

.home-desc {
	padding: 1rem;
	margin: 3rem 10%;
	color: #313131;
	background-color: #fff;
	border-radius: 3px;
}

.new_meal {
	border-left: 2px solid #53868B;
	border-right: 2px solid #53868B;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.left {
	text-align: center;
}

textarea:focus, input:focus, button:focus {
    outline: 0;
}

h1 {
	text-align: center;
	color: #fff;
}

section {
	background-color: #fff;
	margin: 1rem;
	border-radius: 3px;
	width: 25rem;
}

.meal-details {
	text-align: center;
	margin: 1rem auto 1rem auto;
}

.meal-form {
	margin-top: 2rem;
	margin-right: 2.5rem;
	text-align: right;
}

label {
	text-align: right;
}

.customer-charges {
	text-align: center;
	margin: 1rem auto 1rem auto;
}

.earnings-info {
	text-align: center;
	margin: 1rem auto 1rem auto;
}

.box-title {
	background-color: #53868B;
	color: #fff;
	font-size: 1.25rem;
	text-align: left;
	padding: 1rem;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

p {
	padding: 0rem 1rem 1rem 1rem;
	font-size: 1.1rem;
}

input {
	padding: 0.5rem;
	border: 2px solid #DCDCDC;
	font-size: 1rem;
	width: 5rem;
	margin-right: 1.25rem;
}

input:focus {
	border: 3px solid #DCDCDC;
}

button {
	margin: 1rem 1rem 2rem 1rem;
	padding: 1rem 2rem;
	background-color: #53868B;
	color: #fff;
	font-family: 'Karla', sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

button:hover {
	opacity: 0.9;
}

.submit {
	background-color: #73B1B7
}

.cancel {
	background-color: #CD5C5C;
}

.reset {
	margin: 0;
	background-color: #CD3333;
}

.highlight {
	color: #CD3333;
	font-weight: bold;
}

/*ANIMATE*/

.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:0.5s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#eee;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }




